<article id='services'>
  <h1>The Service</h1>
  <p id='p_services'>
  	A Photo shoot at GlamourHit is not just a photography session, it`s a unique experience, a special event that every women deserves to have. This is the time and the place where we celebrate beauty and our sensual side.<br>
    GlamourHit creates sexy, sensuous and daring portraits, sometimes with a touch of the naughty, all of course with personal care and attention to detail and taste.<br>
    I’m Kristina, your professional photographer and I will guide you through each pose, I will know exactly which angles to cover when capturing your best and will tailor the shoot for your body type and your personality.<br>
    This is about you feeling comfortable and fabulous, so we work together and get to know each other to make sure that happens! This is also a great opportunity to pamper yourself, relax and express your feelings, your personality and your glamorous side.<br>
    It`s wonderful! ...When shall we start?<br>
    If you feel this truly uplifting experience is for you, then have a browse through the 3 Deluxe packages provided and simply choose the one which suits you, get in touch and we’ll do the rest.<br>
    Looking forward to seeing you... looking absolutely gorgeous.<br>
    <span class="signature">Kris xx</span>
  </p>
  <img src="https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0414.jpg" />
</article>


