<article id='services'>
  <h1>The Service</h1>
  <p id='p_services'>
  	A photo shoot at GlamourHit is not just a session, it`s a unique experience.  A special event, that every women deserve to have, the place and time where we celebrate beauty.<br>
    GlamourHit creates sexy, sensual and daring portraits - sometimes with a touch of naughty - with care and attention.<br>
    Kristina, a professional photographer will guide you through each pose and know exactly which angles to capture for your body types.<br>
    This is about You, feeling comfortable and fabulous so we work together to make sure that happens! And also this is a great opportunity to pamper yourself, relax and express your sensual side.<br>
    It`s wonderful! 
  </p>
  <img src="<%= asset_path('_MG_0414.jpg') %>" />
</article>