<section id='packages_and_prices'>
  <img id='p_p_img' src="<%= asset_path('_MG_0665-Copy.jpg') %>" />
  <article class='text_p_p'>
    <article>
      <h3>Deluxe</h3>
      <ul>
        <li>free consultation, discussing about your needs, your style, what to wear, clothes, lingerie, accessories , include hints and tips what to do the day before the photo shoot</li>
        <li>2 hours intimate, relaxed session in a private studio</li>
        <li>2 sets,  3 outfits</li>
        <li>15 high resolution, air-brushed,  edited images</li> 
        <h5>£ 265</h5>
      </ul>
    </article>

    <article>
      <h3>Deluxe Pro</h3>
      <ul>
        <li>free consultation, discussing about your needs, your style, what to wear, clothes, lingerie, accessories, include hints and tips what to do the day before the photo shoot -  ideal for professional models and escorts</li>
        <li>Professional makeup artist creates your perfect look ( hair and make-up)</li> 
        <li>3 hours intimate, relaxed session in a private studio</li>
        <li>4 sets, 5 outfits</li>
        <li>25 high resolution air-brushed, edited images</li>
        <h5>£ 395</h5>
      </ul>
    </article>

    <article id='p_p_requirements'>
      <ul>
        <li>Packages made for one person.</li>
        <li>£100 deposit required.</li>
        <li>Additional retouch of photo: £15.</li>
        <li>If you bring a friend along we offer 10% discount from the price.</li>
        <li>Printed products, photo books, portfolio books also available on request.</li>
      </ul>
    </article>
  </article>

</section>
