<section id='packages_and_prices'>
  <img id='p_p_img' src="https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0665-Copy.jpg" />
  <article class='text_p_p'>
    <article>
      <h3>Deluxe</h3>
      <ul>
        <li>Free consultation:  discussing your needs, your style</li>
        <li>What to wear:  clothes, shoes, lingerie, accessories</li>
        <li>2 hours of intimate, relaxed and professional Photography in a private studio</li>
        <li>3 outfits</li> 
        <li>15 digital high resolution, air-brushed and edited images</li>
        <h5>£ 325</h5>
      </ul>
    </article>

    <article>
      <h3>Deluxe Pro</h3>
      <ul>
        <li>Professional makeup artist creates your perfect look (hair and make-up)</li>
        <li>Free consultation:  discussing your needs, your style</li> 
        <li>What to wear:  clothes, shoes, lingerie, accessories, including hints, tips and things to do the day before the photo shoot - ideal for professional models and escorts</li>
        <li>3 hours of intimate, relaxed and professional Photography in a private studio</li>
        <li>4 outfits</li>
        <li>25 digital high resolution air-brushed and edited images</li>
        <h5>£ 495</h5>
      </ul>
    </article>

    <article>
      <h3>Deluxe Ultimate</h3>
      <ul>
        <li>Professional makeup artist creates your perfect look (hair and make-up) for each set</li>
        <li>Free consultation:  discussing your needs, your style and your dream look</li> 
        <li>What to wear:  clothes, shoes, lingerie, accessories, including hints, tips and things to do the day before the photo shoot - ideal for professional models and escorts</li>
        <li>A half day of intimate, relaxed and professional Photography in a private studio</li>
        <li>5 outfits</li>
        <li>Glass of Champagne and buffet lunch during/after the shoot</li>
        <li>Luxurious matted print box with 10 x mounted 10” x 8” prints of your choice</li>
        <li>30 digital high resolution air-brushed and edited images on a personal USB stick</li>
        <h5>£ 895</h5>
      </ul>
    </article>

    <article>
      <h3>Special Offer</h3>
      <ul>
        <li>Bring a friend along on the same day for any additional Deluxe package and get 10% discount from the price of both packages</li>
        <li>Printed products, photo books, portfolio books also available on request</li>
      </ul>
    </article>

    <article id='p_p_requirements'>
      <ul>
        <li>All packages are for one person only.</li>
        <li>£100 deposit in advance required.</li>
        <li>Additional retouched photo @ £35 each.</li>
      </ul>
    </article>
  </article>

</section>
