<section class='container'>
  <article id='gallery'>
    <% PreviewPicture.all.by_date.each do |preview_picture| %>
      <a class="fancybox" rel="group" href="<%= preview_picture.picture.image.url(:original)%>" ><%= image_tag preview_picture.image.url(:original), :class => 'grayscale' %></a>
        <% if user_signed_in? %>
          <%= link_to "Delete #{preview_picture.id}", preview_picture_path(:id => preview_picture.id), method: :delete %>
        <% end %>
    <% end %>
  </article>
</section>

<% if user_signed_in? %>
  <%= link_to "Add Picture", new_preview_picture_path, :class => "add_preview_picture" %>
<% end %>
