/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.nav.navbar-nav {
  position: static;
  width: 100%;
  padding: 0px 347px;
  left: 0%;
  transform: initial;
  position: static;
}

.container {
  top: 42%;
  left: 0% !important;
  transform: initial !important;
  position: static !important;
}

.navbar-header {
  position: absolute;
}

.nav.navbar-nav li {
  text-transform: uppercase;
}

.nav.navbar-nav li a {
  color: rgb(48, 48, 48);
  font-size: 1em;
}

.navbar-inverse .navbar-brand { color: rgb(48, 48, 48); }

.navbar.navbar-inverse.navbar-fixed-top {
  border-bottom: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
  background:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
  background:      -o-linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
  background:         linear-gradient(to bottom, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
  border-color: transparent;
  height: 60px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #AA052A;
  background-color: transparent;
}

.carousel-indicators {
  bottom: 30px;
}

@media all and (min-width: 992px) and (max-width : 1199px) {
  
  .nav.navbar-nav {
    padding: 0px 247px;
  }

}

@media all and (min-width: 768px) and (max-width : 991px) {

  .nav.navbar-nav {
    padding: 0px 137px;
  }

}

@media all and (max-width : 767px) {

  .container {
    -webkit-text-size-adjust: none;
    width: 100%;
  }

  .navbar-toggle {
    background-color: #333;
  }

  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #AA052A;
    border-color: #AA052A;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
  }

  .nav.navbar-nav {
    float: right;
    width: 19%;
    margin: 0px 30px;
    padding: 0px 0px;
  }

  .nav.navbar-nav li {
    min-width: 100px;
    background-color: rgba(226, 226, 226, 1);
  }

  .nav.navbar-nav li:hover {
    background-color: rgba(239, 239, 239, 1);
  }

  .navbar-header {
    position: static;
  }

}









