.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#image1 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0208.jpg');
}

#image2 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0187(2).jpg');
}

#image3 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/16.jpg');
}

#image4 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0275.jpg');
}

#image5 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0190+-+BW(2).jpg');
}

#image6 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0111.jpg');
}

#image7 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0650.jpg');
}

.carousel-indicators {
  bottom: 90px;
}

@media all and (max-width : 767px) {

  #image1 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0208-sm.jpg');
  }

  #image2 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0246jpeg-sm.jpg');
  }

  #image3 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/16-sm.jpg');
  }

  #image4 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0275-sm.jpg');
  }

  #image5 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0111-sm.jpg');
  }

  #image6 {
    background-image: url('https://s3-eu-west-1.amazonaws.com/glamourhit/images/_MG_0650-sm.jpg');
  }

}