section#packages_and_prices {
  padding-top: 110px;
  margin: 0px 9.5% 0px 9.5%;
  text-align: justify;
  color: rgb(48, 48, 48);
}


#packages_and_prices article h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  color: #AA052A;
}
#packages_and_prices article h5 {
  font-size: 2em;
  text-align: right;
  color: #AA052A;
  font-family: 'Great Vibes', cursive;
}

#packages_and_prices article ul {
  font-weight: 300;
  font-size: 1.3em;
}

article#p_p_requirements { margin: 50px 0px 0px 0px; }

article#p_p_requirements ul{
  list-style-type: none;
}

article#p_p_requirements ul li{
  font-size: 0.7em;
}