section#packages_and_prices {
  margin-top: 100px;
  position: static;
  width: 100%;
  padding: 2em 12em;
/*  margin-top: 3%;
  width: 77%;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translate(-50%);*/
}

.text_p_p {
  width: 64%;
  display: inline-block;
  padding: 0px 0px 0px 35px;
}

.text_p_p article {
  margin-bottom: 30px;
}

img#p_p_img {
  vertical-align: top;
  width: 35%;
}

#packages_and_prices article h3 {
  margin-top: 0;
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  color: #AA052A;
}

#packages_and_prices article h5 {
  font-size: 2em;
  text-align: right;
  color: #AA052A;
  font-family: 'Great Vibes', cursive;
}

#packages_and_prices article ul {
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.5;
}

article#p_p_requirements { margin: 50px 0px 0px 0px; }

article#p_p_requirements ul{
  list-style-type: none;
}

article#p_p_requirements ul li{
  font-size: 0.7em;
}

@media only screen and (min-width: 840px) and (max-width : 1280px) {

  section#packages_and_prices { padding: 2em 8em; }

  #packages_and_prices article ul {
    font-size: 1.1em;
  }

  #packages_and_prices article h3 {
    font-size: 2.5em;
  }

  #packages_and_prices article h5 {
    font-size: 1.8em;
  }

}

@media only screen and (max-width : 839px) {

  body {
    overflow: visible;
  }

  section#packages_and_prices { padding: 2em 4.5em; }

  img {
    width: 100%;
  }

  .text_p_p {
    width: 100%;
    padding: 40px 0px 0px 0px;
  }

  article#p_p_requirements {
    margin: 50px 0px;
  }

  #packages_and_prices article h3 {
    font-size: 2em;
  }

  #packages_and_prices article ul {
    font-size: 1.1em;
  }

  #packages_and_prices article h5 {
    font-size: 1.5em;
  }
}

@media all and (max-width : 450px) {

  section#packages_and_prices {
    padding: 0em 3em 2em 3em;
  }

  #packages_and_prices article ul {
    font-size: 1em;
    padding-left: 26px;
  }

  #packages_and_prices article h3 {
    font-size: 1.7em;
  }

  #packages_and_prices article h5 {
    font-size: 1.4em;
  }

}




