.add_picture {
  position: absolute;
  top: 200px;
}

.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

img.grayscale{ 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
}

img.grayscale:hover{ 
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}