.add_preview_picture {
  position: absolute;
  top: 250px;
}

section.container {
  margin-top: 100px;
  text-align: center;
}

img.grayscale{ 
  margin: 1.5px 0px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
}

img.grayscale:hover{ 
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}