body { 
  background-color: white; 
  overflow: hidden;
}

#services {
  margin-top: 30px;
  width: 77%;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translate(-50%);
}

#services h1 {
  font-family: 'Pacifico', cursive;
}

#p_services {
  margin-top: 7px;
  line-height: 2;
  width: 72%;
  text-align: justify;
  color: black;
  font-weight: 300;
  font-size: 1.1em;
  display: inline-block;
}

#services img {
  float: right;
  width: 25%;
}
